<#macro page_title>
	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	<h3 class="page-title">
		Dashboard <small>statistics and more</small>
	</h3>
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#">Dashboard</a></li>
		<li class="pull-right no-text-shadow">
			<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
				<i class="icon-calendar"></i>
				<span></span>
				<i class="icon-angle-down"></i>
			</div>
		</li>
	</ul>
	<!-- END PAGE TITLE & BREADCRUMB-->
</#macro>


<#macro sidebar_macro menus>
	<#list menus as m>
		<li class="">
     		<a href="javascript:;">
     			<i class="icon-bookmark-empty"></i>
     			<span class="title">${m.name}</span>
     			<#if m_has_next>
     				<span class="arrow "></span>
     			</#if>
     		</a>
     		<#if (m.children)??>
     		     <ul class="sub-menu">
     		     	<#list m.children as c>
     		     		<@sub_sidebar_macro c/>
     		     	</#list>
                 </ul>
			</#if>
         </li>
	</#list>
</#macro>


<#macro sub_sidebar_macro menu>
	<#if (menu.children?size>0)> 
		<li>
		    <a href="javascript:;">
		    	<i class="icon-globe"></i>
		        ${menu.name}
		        <span class="arrow"></span>
		    </a>
		    <ul class="sub-menu">
	  	     	<#list menu.children as c>
		     		<@sub_sidebar_macro c/>
		     	</#list>
		    </ul>
		</li>
	<#else> 
		<li>
		    <a href="${menu.url}">
		    	<i class="icon-user"></i>
		        ${menu.name}
		    </a>
		</li>
	</#if>
</#macro>

