<!DOCTYPE html>
	<head>
		<meta charset="utf-8" />
		<title>Just For Fun</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link rel="shortcut icon" href="${BASEPATH}/media/image/favicon.ico" />
		
		<link href="${BASEPATH}/media/jquery-easyui-1.4/themes/default/easyui.css" rel="stylesheet" type="text/css" />
		<link href="${BASEPATH}/media/jquery-easyui-1.4/themes/icon.css" rel="stylesheet" type="text/css" />
		<@page_style/>
		
		<script src="${BASEPATH}/media/jquery-easyui-1.4/jquery.min.js" type="text/javascript"></script>
		<script src="${BASEPATH}/media/jquery-easyui-1.4/jquery.easyui.min.js" type="text/javascript"></script>
		<script src="${BASEPATH}/media/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
		<script src="${BASEPATH}/media/jquery-easyui-1.4/extEasyUI.js" type="text/javascript"></script>
		<script src="${BASEPATH}/media/jquery-easyui-1.4/extJquery.js" type="text/javascript"></script>
		<@page_script/>
		<#import "macros.htm" as sysmacros />
	</head>
	
    <body class="easyui-layout">
        <div region="north" style="height:50px;" >
        	<h3>${user.userName}, welcome to just fun!</h3>
        </div>
        
        <div data-options="region:'west',href:''" title="导航" style="width: 200px;">
			<#include "msidebar.htm" />
		</div>

        <div region="center" title="功能区" >  
            <div class="easyui-tabs" id="tabsContainer" fit="true" border="false">  
                <div title="欢迎页" style="padding:20px;overflow:hidden;">   
                    <div style="margin-top:20px;">  
                        <h3>你好，欢迎使用</h3>  
                    </div>  
                </div>  
            </div>  
        </div>  
         
        <div region="south" style="height:50px;" align="center">  
            <label>
            	Just For Fun
            </label>
        </div>  
    </body>
</html>